---
layout: default
title: Li Qian | Publications
picture: liqian
---
<div class="page-header">
  <h3>Publications</h3>


<div class="row">
      <li> <a href="https://scholar.google.com/citations?user=IFaNriYAAAAJ&hl=zh-CN">
        <img src="img/ico/gs.png" alt=""/>
      Google scholar listing </a>  </li>
</div>

<hr>

  
<div class="row">
      <li> <a href="papers/GGAE.pdf"> 1. </a> *Qian Li*, Daling Wang, Shi Feng, Cheng Niu. Yifei Zhang, Global Graph Attention Embedding Network for Relation Prediction in Knowledge Graphs, IEEE Transactions on Neural Networks and Learning Systems. </li>
      <li> <a href="papers/MRQA.pdf"> 2. </a> *Qian Li*, Hui Su, Cheng Niu, Daling Wang, Zekang Li, Shi Feng, Yifei Zhang, Answer-Supervised Question Reformulation for Enhancing Conversational Machine Comprehension, EMNLP Workshop MRQA 2019: 38-47. </li>
      <li> <a href="papers/Incremental.pdf"> 3. </a> Zekang Li, Cheng Niu, Fandong Meng, Yang Feng, *Qian Li*, Jie Zhou: Incremental Transformer with Deliberation Decoder for Document Grounded Conversations. ACL (1) 2019: 12-21.  </li>
      <li> <a href="papers/IJCAI2018.pdf"> 4. </a> Xizhe Zhang, *Qian Li*, Weixiong Zhang: A Fast Algorithm for Generalized Arc Consistency of the Alldifferent Constraint. IJCAI 2018: 1398-1403. </li>
      <li> <a href="papers/PhysicaA.pdf"> 5. </a> Xizhe Zhang, *Qian Li*. Altering control modes of complex networks based on edge removal. Physica A: Statistical Mechanics and its Applications 516 (2019): 185-193. </li>
</div>

</div>

<!-- <h4> <a name="papers"></a>  Research papers (journals, confereces, workshops)</h4>

 {%assign  years = site.data.papers | group_by :"year" | sort: "title" | reverse %}
 {% for year in years %}
  <h5> {{year.name}}</h5>
 {% for post in year.items %}
      {% include paper.html paper=post %}
  {% endfor %}
{% endfor %} -->

<!-- <h4> <a name="theses"></a> Theses </h4>

 {%assign  years = site.data.theses | group_by :"year" | sort: "title" | reverse %}
 {% for year in years %}
  <h5> {{year.name}}</h5>
 {% for post in year.items %}
      {% include paper.html paper=post %}
  {% endfor %}
{% endfor %}

<h4> <a name="talk"></a> Talks </h4>

will update soon! -->


<!--
{% assign years= site.data.talks | group_by: "year"| sort: "name"| reverse %}
{%for year in years %}

{% for talk in year.items %}
<div class="media">
  <a class="pull-left thumbnail" {%if talk.url %} href="{{ talk.url }}" {% endif %}>
    <img class="media-object" src="{{site.deploy}}/img/talk/{{ talk.img }}.jpg" alt="">
  </a>
  <div class="media-body" id="{{talk.img}}">
    <strong>{{ talk.title }}</strong><br/>
    {{ talk.detail }}.{{ talk.year }}
    {% if talk.video %}<br/>
      <a href="{{ talk.video }}"><span class="glyphicon glyphicon-film"></span></a> Video
    {% endif %}
  </div>
</div>
{% endfor %}
{% endfor %}
-->
