<br/><br/>
<img src="{{site.deploy}}/img/nav/{{ page.picture }}.jpg" class="img-responsive" alt="{{ page.picture }}"/>
<ul class="nav navbar-inverse">
  <li>
    <a href="{{site.deploy}}/index.html">Home</a>
  </li>
  <li>
    <a href="{{site.deploy}}/papers.html">Papers</a>
  </li>
  <li>
    <a href="{{site.deploy}}/teaching.html">Teaching</a>
  </li>
  <li>
    <a href="{{site.deploy}}/students.html">Collaborator</a>
  </li>
  <li>
    <a href="{{site.deploy}}/liqian_resume.pdf">CV</a>
  </li>
</ul>

